<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Functional UI Test</title>

    <script type="text/javascript" src="{{ asset('/build/runtime.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('/build/vendors-node_modules_braunstetter_choosy-type_controllers_choosy_controller_js-node_modules_h-d76337.js')}}" defer></script>
    <script type="text/javascript" src="{{ asset('/build/app.js')}}" defer></script>

    <link rel="stylesheet" href="{{ asset('/bundles/choosy/build/bundle.css') }}">

</head>
<body>

{{ form(form) }}
</body>
</html>